@keyframes s2{
  100% { transform: translateX(-20%);}
}
@keyframes s3 {
  100% { transform: translateX(-40%);}
}
@keyframes enter{
  100% { transform: translateX(50%);}
}

*{
  margin          : 0;
  padding         : 0;
  border          : none;
  text-decoration : none;
  box-sizing      : border-box;
  font-weight     : bold;
  font-family     : 'Courier New', Courier, monospace;
}

:root{
  --primaria      : #0741AD;
  --secundária    : #3690D4;
  --terciaria     : #B4C6E6;
  --fraca         : #368fd446;
  --sombra        : #0000002c;
}

body{
  background-color: #fff;
}

.container{
  max-width       : 1400px;
  width           : 95%;
  margin          : auto;
}

.header, .top{
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  padding         : .5em 0;
}

#logo{
  min-width       : 100px;
  max-width       : 225px;
  width           : 50%;
}

.nav{
  width           : 70%;
  display         : flex;
  justify-content : space-between;
}

.nav-mobile{
  background-color: var(--secundária);
  position        : absolute;
  right           : 1em;
  transform       : translate(0%, 60%);
  min-width       : 110px;
  display         : flex;
  flex-direction  : column;
  justify-content : space-between;
  opacity         : 0;
  border-radius   : 10px;
}

.nav-item{
  color           : var(--primaria);
  width           : 20%;
  font-size       : 1.2em;
  text-align      : center;
  padding         : .3em;
  border-radius   : 50px;
}

.nav-item-mobile{
  color           : #fff;
  font-size       : 1.2em;
  text-align      : end;
  padding         : .36em .7em;
  border-radius   : 50px;
}

.nav-item:hover{
  background-color: var(--fraca);
}

.login{
  display         : none;
  background-color: var(--secundária);
  border          : var(--secundária) solid 3px;
  color           : #fff;
  border-radius   : 30px;
  padding         : 5px;
  box-shadow      : 1px 1px 3px var(--sombra);
  cursor          : pointer;
}

.full-sandwich{
  display         : none;
  flex-direction  : column;
}

.sandwich{
  background-color: var(--secundária);
  width           : 2em;
  height          : .25em;
  margin          : .1em;
  border-radius   : 10px;
}

.open-s2{
  animation       : s2 .3s ease-out forwards;
}
.open-s3{
  animation       : s3 .3s ease-out forwards;
}
.close-s2{
  animation       : s2 .3s ease-out forwards reverse;
}
.close-s3{
  animation       : s3 .3s ease-out forwards reverse;
}

.showcase{
  display         : flex;
  justify-content : space-evenly;
  padding         : 3em 0;
}

.mockup{
  display         : flex;
  flex-direction  : column;
  align-items     : center;
}

.mockups{
  width           : 100%;
  min-width       : 300px;
}

.txt-mockup{
  background-color: var(--primaria);
  color           : #ffffff;
  width           : 98%;
  padding         : 0.3em;
  border-radius   : 30px;
  text-align      : center;
  font-size       : 1.2em;
  box-shadow      : 1px 1px 3px var(--sombra);
  cursor          : pointer;
}

.area-login{
  position: relative;
  background-color: var(--fraca);
  display         : flex;
  flex-direction  : column;
  justify-content : space-around;
  align-items     : center;
  padding         : 0 1em;
  border-radius   : 20px;
  box-shadow      : 1px 1px 3px var(--sombra);
}

.b-area-login{
  width           : 70px;
}

.area-register h2{
  text-align      : center;
}

.form{
  width           : 14em;
  display         : flex;
  flex-direction  : column;
  justify-content : space-around;
}

input{
  width           : 6em;
}

.input, .input-login{
  width           : 100%;
  margin          : 0 .5em;
  padding         : .4em .3em;
  border-bottom   : var(--secundária) solid;
  border-radius   : 7px;
}

.input-login{
  margin          : .5em 0;
}

input:focus{
  outline         : none;
  border-bottom   : var(--primaria) solid;
}

.disable{
  display         : none;
}

.fail{
  display         : none;
  color           : red;
  font-size       : .7em;
  margin-bottom   : 1em;
}

.vazio{
  border-bottom   : red solid;
}

.top{
  width           : 90%;
  margin          : auto;
  padding         : 0;
}

.saudacao{
  margin          : .5em 0;
}

.exit{
  background-color: var(--secundária);
  padding         : .4em .8em;
  color           : #eee;
  font-size       : .85em;
  border-radius   : 1em;
  cursor          : pointer;
}

.submit, .submit-register, .submit-edit, .submit-clear{
  background-color: var(--primaria);
  color           : #fff;
  padding         : .5em;
  border-radius   : 30px;
  box-shadow      : 0 0 5px var(--sombra);
  cursor          : pointer;
}

.submit-clear{
  background-color: var(--primaria);
  width           : 40%;
  margin-top      : 1em;
}

.submit:focus, .submit-register:focus, .submit-edit:focus, .submit-clear:focus{
  outline         : none;
  border          : var(--primaria) solid;
}

.register{
  font-size       : .8em;
  text-align      : center;
  margin          : 1em;
}

/* AREA DE CADASTRO */
.full-dialog{
  height          : 100vh;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.into{
  height          : calc(100vh - 69px) ;
}

.dialog{
  background-color: var();
  display         : flex;
  justify-content : center;
  align-items     : center;
  padding         : 1em;
  border-radius   : 20px;
}

.area-register{
  background-color: var(--fraca);
  box-shadow      : 1px 1px 3px var(--sombra);
  position        : relative;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  border-radius   : 15px;
  width           : 70vw;
  max-width       : 500px;
}

.messenger{
  position        : absolute;
  top             : 1em;
  display         : flex;
  justify-content : center;
  align-items     : center;
  text-align      : center;
  width           : 90%;
  padding         : .3em;
  border-radius   : .5em;
  font-size       : 1.1em;
  color           : #eee;
}

.alert{
  background-color: #ff4747;
}

.sucess{
  background-color: #008f00;
}

.form-register{
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  padding         : 1em;
  width           : 100%;
}

.show{
  width           : 100%;
}

.full-name, .b-day, .sexo, .email, .create-password{
  padding         : .5em 0;
  width           : 100%;
  display         : flex;
  justify-content : center;
}

.sexo{
  text-align      : center;
}
.sexo-radio{
  width           : 90%;
  display         : flex;
  justify-content : space-between;
}

.submit-register{
  color           : #fff;
  margin          : .5em;
  width           : 97%;
}


@media screen and (max-width: 768px) {
  #logo{
    width           : 150px;
  }
  .nav{
    background-color: #3690D4;
    position        : absolute;
    flex-direction  : column;
    width           : 100%;
    top             : 65px;
    left            : 0;
    padding         : 15px 0;
    border-radius   : 0 0 1em 1em;
    overflow        : hidden;
  }
  .nav-item, .s1, .s2, .s3{
    width           : 100%;
    text-align      : center;
    color           : #eee;
  }

  .open{
    animation       : enter 0.3s ease-out forwards reverse;
  }
  .close{
    animation       : enter 0.3s ease-out forwards;
  }

  .full-sandwich{
    width           : 30px;
    display         : flex;
  }
  .showcase{
    flex-direction  : column;
    padding         : 0;
  }
  .area-login{
    margin-top      : 2em;
  }
  .full-dialog{
    width           : 100%;
  }
  .dialog{
    padding         : 0;
  }
  .area-register{
    width           : 95vw;
  }
  .form-register{
    width           : 100%;
    padding         : 1em 0;
  }
}